In [5]:
## All Imports

from IPython.display import HTML
import numpy as np
#import urllib2
import bs4  #Beautiful Soup
import time
import operator
import socket
#import cPickle
import re

from pandas import Series
import pandas as pd
from pandas import DataFrame

import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

#import seaborn as sns
#sns.set_context("talk")
#sns.set_style("white")

#from secret import *

In [6]:
#Might need API Registrations for Rotten Tomatoes, Twitter
#Rotten tomatoes have stopped registration
#Will register as examples require it

In [7]:
#Reading data from Movielens under group lens

#Reading users data

# pass the column names for each column in the csv
u_cols = ["user_id","age","sex","occupation","zip_code"]

#Read the u.user file from group lens database
users = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.user',
    sep = '|', names = u_cols)

#top 5 rows from users table
users.head()

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [25]:
#Read the Ratings data

#names for the columns for the table
r_cols = ["user_id", "movie_id","rating","unix_timestamp"]

#read the rating files; note that the seperator is tab for this file
ratings = pd.read_csv(
    "http://files.grouplens.org/datasets/movielens/ml-100k/u.data",
    sep ="\t", names = r_cols)

#print the first 5 ratings
ratings.head()

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [9]:
#Data about the movies

#The movies file contains more than 5 columns, but we are only considering
# the first five columns

#Naming the first five columns
m_cols =["movie_id","title","release_date","video_release_date","imdb_url"]

movies = pd.read_csv(
    "http://files.grouplens.org/datasets/movielens/ml-100k/u.item",
    sep = "|", names = m_cols, usecols = range(5)) #usecols considers columns
                                                #specified
#print the first 5 movies
movies.head()

,movie_id,title,release_date,video_release_date,imdb_url
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995)

In [10]:
#Getting some information about the data
print(movies.dtypes) #Gives information about the content of each column
                     # as interpreted by python
print()
print(movies.describe()) #.describe find the columns that are numerical
                        # (and not objects or complex) and provides general
                        # statistics about it.
#Note the only columns thatare chose are movie_id = int64 and video_release
#_date that is float 64

movie_id                int64
title                  object
release_date           object
video_release_date    float64
imdb_url               object
dtype: object

          movie_id  video_release_date
count  1682.000000                 0.0
mean    841.500000                 NaN
std     485.695893                 NaN
min       1.000000                 NaN
25%     421.250000                 NaN
50%     841.500000                 NaN
75%    1261.750000                 NaN
max    1682.000000                 NaN

In [11]:
#Selecting specific data from a set

users.head() #Just to see what data is in users
print(users["occupation"].head()) #just first five occupation
print()
#print specific columns
modtable = users[["occupation","sex"]] #note enty insider users is a list
print(modtable.head())
print()
newcol = ["occupation","sex"]
modtable2 = users[newcol]
print(modtable2.head())

0    technician
1         other
2        writer
3    technician
4         other
Name: occupation, dtype: object

   occupation sex
0  technician   M
1       other   F
2      writer   M
3  technician   M
4       other   F

   occupation sex
0  technician   M
1       other   F
2      writer   M
3  technician   M
4       other   F

In [12]:
#Filtering data

#select data for users older than 25
above25 = users["age"]>25
print(users[above25].head())
print()
#Another way
print(users[users.age>25].head())
print()
users[users.age>25].head() #Not sure if the output format difference
                            # are worth looking, but fyi

   user_id  age sex     occupation zip_code
1        2   53   F          other    94043
4        5   33   F          other    15213
5        6   42   M      executive    98101
6        7   57   M  administrator    91344
7        8   36   M  administrator    05201

   user_id  age sex     occupation zip_code
1        2   53   F          other    94043
4        5   33   F          other    15213
5        6   42   M      executive    98101
6        7   57   M  administrator    91344
7        8   36   M  administrator    05201

   user_id  age sex     occupation zip_code
1        2   53   F          other    94043
4        5   33   F          other    15213
5        6   42   M      executive    98101
6        7   57   M  administrator    91344
7        8   36   M  administrator    05201

In [13]:
#Find users above 40 and are male
users.dtypes
users[(users.age>40) & (users.sex=="M")].head()

    user_id  age sex     occupation zip_code
5         6   42   M      executive    98101
6         7   57   M  administrator    91344
9        10   53   M         lawyer    90703
12       13   47   M       educator    29206
13       14   45   M      scientist    55106

In [14]:
#show the mean age for women programmers
print(users[(users.sex == "F") & (users.occupation == "programmer")].describe)
print()
print(users[(users["sex"]=="F") & (users["occupation"]=="programmer")].mean())
print()
print(users[(users.sex=="F") & (users.occupation=="programmer")].mean())

<bound method NDFrame.describe of      user_id  age sex  occupation zip_code
291      292   35   F  programmer    94703
299      300   26   F  programmer    55106
351      352   37   F  programmer    55105
403      404   29   F  programmer    55108
420      421   38   F  programmer    55105
697      698   28   F  programmer    06906>

user_id    411.166667
age         32.166667
dtype: float64

user_id    411.166667
age         32.166667
dtype: float64

In [15]:
#Split and combine:
# Splitting the groups into data based on criteria
# applying a common function to each group independently
# combining the data


#Find the users who provided a lot of ratings:

#Method:
    # Split data per user ID
    # Count the ratings
    # combine the result

In [26]:
print(ratings.head())
grouped_data = ratings.groupby("user_id") #Splitting the data on userid
                                        #Accumulating the data per user
ratings_per_user= grouped_data.count() #Apply the count function, ratings per user
ratings_per_user.head()
#Because we split the entire data frame by user id we get the coutns for
#movie ids, ratings and unix-timestamps

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

         movie_id  rating  unix_timestamp
user_id
1             272     272             272
2              62      62              62
3              54      54              54
4              24      24              24
5             175     175             175

In [27]:
#Another version is if we just want movie ids being counted
group_user_rating = ratings["movie_id"].groupby(ratings["user_id"])
rating_per_user = group_user_rating.count()
rating_per_user.head()

user_id
1    272
2     62
3     54
4     24
5    175
dtype: int64

In [73]:
#Get the average rating per movie
group_movie_rating = ratings.groupby(ratings["movie_id"])
mean_movie_rating = group_movie_rating.mean()
print(mean_movie_rating.head())

#Find the maximum movie rating
maximum_rating = mean_movie_rating.max()
good_movie_ids = mean_movie_rating[mean_movie_rating == maximum_rating].index
good_movie_name = movies[movies["movie_id"] == good_movie_ids]
good_movie_name
#good_movie_name
#movies[movies["movie_id"]==1]
#mean_movie_rating.index
#mean_movie_rating[rating == 5.0]
#mean_movie_rating[rating == 5.0]

             user_id    rating  unix_timestamp
movie_id
1         477.011062  3.878319    8.828054e+08
2         492.007634  3.206107    8.834174e+08
3         459.133333  3.033333    8.822269e+08
4         469.497608  3.550239    8.827175e+08
5         439.372093  3.302326    8.825882e+08

,movie_id,title,release_date,video_release_date,imdb_url
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995)
5,6,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,01-Jan-1995,NaN,http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...
6,7,Twelve Monkeys (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Twelve%20Monk...
7,8,Babe (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Babe%20(1995)
8,9,Dead Man Walking (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Dead%20Man%20...
9,10,Richard III (1995),22-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Richard%20III...
10,11,Seven (Se7en) (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Se7en%20(1995)
11,12,"Usual Suspects, The (1995)",14-Aug-1995,NaN,http://us.imdb.com/M/title-exact?Usual%20Suspe...
12,13,Mighty Aphrodite (1995),30-Oct-1995,NaN,http://us.imdb.com/M/title-exact?Mighty%20Aphr...
13,14,"Postino, Il (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?Postino,%20Il..."
14,15,Mr. Holland's Opus (1995),29-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Mr.%20Holland...
15,16,French Twist (Gazon maudit) (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Gazon%20maudi...
16,17,From Dusk Till Dawn (1996),05-Feb-1996,NaN,http://us.imdb.com/M/title-exact?From%20Dusk%2...
17,18,"White Balloon, The (1995)",01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Badkonake%20S...
18,19,Antonia's Line (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Antonia%20(1995)
19,20,Angels and Insects (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Angels%20and%...
20,21,Muppet Treasure Island (1996),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Muppet%20Trea...
21,22,Braveheart (1995),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Braveheart%20...
22,23,Taxi Driver (1976),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Taxi%20Driver...
23,24,Rumble in the Bronx (1995),23-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Hong%20Faan%2...
24,25,"Birdcage, The (1996)",08-Mar-1996,NaN,"http://us.imdb.com/M/title-exact?Birdcage,%20T..."
25,26,"Brothers McMullen, The (1995)",01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Brothers%20Mc...
26,27,Bad Boys (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Bad%20Boys%20...
27,28,Apollo 13 (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Apollo%2013%2...
28,29,Batman Forever (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Batman%20Fore...
29,30,Belle de jour (1967),01-Jan-1967,NaN,http://us.imdb.com/M/title-exact?Belle%20de%20...
...,...,...,...,...,...
1652,1653,Entertaining Angels: The Dorothy Day Story (1996),27-Sep-1996,NaN,http://us.imdb.com/M/title-exact?Entertaining%...
1653,1654,Chairman of the Board (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Chairman+of+the+Board...
1654,1655,"Favor, The (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?Favor,%20The%..."
1655,1656,Little City (1998),20-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Little+City+(...
1656,1657,Target (1995),28-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Target%20(1995)
1657,1658,"Substance of Fire, The (1996)",06-Dec-1996,NaN,http://us.imdb.com/M/title-exact?Substance%20o...
1658,1659,Getting Away With Murder (1996),12-Apr-1996,NaN,http://us.imdb.com/Title?Getting+Away+With+Mur...
1659,1660,Small Faces (1995),09-Aug-1996,NaN,http://us.imdb.com/M/title-exact?Small%20Faces...
1660,1661,"New Age, The (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?New%20Age,%20..."
1661,1662,Rough Magic (1995),30-May-1997,NaN,http://us.imdb.com/M/title-exact?Rough%20Magic...
1662,1663,Nothing Personal (1995),30-Apr-1997,NaN,http://us.imdb.com/M/title-exact?Nothing%20Per...
1663,1664,8 Heads in a Duffel Bag (1997),18-Apr-1997,NaN,http://us.imdb.com/Title?8+Heads+in+a+Duffel+B...
1664,1665,"Brother's Kiss, A (1997)",25-Apr-1997,NaN,http://us.imdb.com/M/title-exact?Brother%27s%2...
1665,1666,Ripe (1996),02-May-1997,NaN,http://us.imdb.com/M/title-exact?Ripe%20%28199...
1666,1667,"Next Step, The (1995)",13-Jun-1997,NaN,http://us.imdb.com/M/title-exact?Next%20Step%2...
1667,1668,Wedding Bell Blues (1996),13-Jun-1997,NaN,http://us.imdb.com/M/title-exact?Wedding%20Bel...
1668,1669,MURDER and murder (1996),20-Jun-1997,NaN,http://us.imdb.com/M/title-exact?MURDER+and+mu...
1669,1670,Tainted (1998),01-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Tainted+(1998)
1670,1671,"Further Gesture, A (1996)",20-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Further+Gestu...
1671,1672,Kika (1993),01-Jan-1993,NaN,http://us.imdb.com/M/title-exact?Kika%20(1993)
1672,1673,Mirage (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Mirage%20(1995)
1673,1674,Mamma Roma (1962),01-Jan-1962,NaN,http://us.imdb.com/M/title-exact?Mamma%20Roma%...
1674,1675,"Sunchaser, The (1996)",25-Oct-1996,NaN,"http://us.imdb.com/M/title-exact?Sunchaser,%20..."
1675,1676,"War at Home, The (1996)",01-Jan-1996,NaN,http://us.imdb.com/M/title-exact?War%20at%20Ho...
1676,1677,Sweet Nothing (1995),20-Sep-1996,NaN,http://us.imdb.com/M/title-exact?Sweet%20Nothi...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998)
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...

In [52]:
#Another way: Get average rating per movie
group_movie_rating = ratings["rating"].groupby(ratings["movie_id"])
    #Create at a table with ratings grouped by movie_id
    
group_movie_rating.mean().head() #Calculate the mean for each movie_id

movie_id
1    3.878319
2    3.206107
3    3.033333
4    3.550239
5    3.302326
Name: rating, dtype: float64